*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(48, 194, 48);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul li a:hover{
    color: rgb(48, 194, 48);
}

.content{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translate(4%);
    text-align: center;
    color: black;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(48, 194, 48);
    background: transparent;
    color: black;
    cursor: pointer;
}

span {
   color: rgb(48, 194, 48);
}

button:hover {
    border: 1px solid rgb(48, 194, 48);
    background:  rgb(48, 194, 48);
    transition: 1s;
}

.navbar .logo a{
    
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}

.action-btn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(48, 194, 48);
    background: transparent;
    color: black;
    cursor: pointer;
}

.action-btn:hover{
    border: 1px solid rgb(48, 194, 48);
    background:  rgb(48, 194, 48);
    transition: 1s;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height:0;
    width: 300px;
    background: rgb(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border-radius:  10px;
    overflow:hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media(max-width: 992px){
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}
@media(max-width: 992px){
    .dropdown_menu{
        left: 2rem;
        height: unset;
    }
}

